* {
    
    /* la propiedad mas importante del seteo de estilos   */

    box-sizing: border-box;
    color: rgb(173, 171, 171);
    font-size: 1.1rem ;
    font-weight: 400;
    font-family: lanteros, "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    

    padding: 0;
    margin: 0;
    outline: none;

    border: solid 2px red;

}


.navbar__nav {
    display: flex;
    

    justify-content: space-between;
    padding: 20px;
    color: #f1f1f1;
    align-items: center;
    




}


.navbar__nav__list {
    display: flex;
    gap: 24px;
    align-items: center;




}


.navbar__nav__iconomueble {
    width: 36px;
    height: 36px;




}

.button {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #019587;
    color: #f1f1f1;
    transition: all .3s ease-in;
    font-weight: bold;

}

.button:hover {
    
    background-color: #212c2b;
    color: #f1f1f1;

}


.jumbotron {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #f2f2f2;
    padding: 30px;
}

.jumbotron__background {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
   
}

@keyframes identifier {
    
}

.jumbotron__h1 { 
    padding: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #f1f1f1;

}

.jumbotron__button, .boton1, .boton2, .boton3 { 
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #019587;
    color: #f2f2f2;
    

}

.seccion1__div  {
    display: flex;
    height: 500px;
    gap: 20px;
    align-items: center;
    padding: 10px;
    
    

    

    
} 

.seccion1__div__flecha {
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.seccion1__div__flecha2 {
    height: 36px;
    width: 36px;
    
} 

.seccion1__div__caja, .seccion1__div__caja2, .seccion1__div__caja3  {
    padding: 30px 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   


    
}


.seccion__h2 {
    color: #c24b4b;
    text-align: center;
    padding: 20px;

   

    
} 

.imagen_mueble1, .imagen_mueble2, .imagen_mueble3 {
    height: 200px;
    width: 300px;
    
}

.seccion2 {
    display: flex;
    justify-content: flex-start;
    background-color: #5a6463;
    
    
}

.seccion2__imagen {
    transform: translateX(20px) translateY(20px);
    width: 700px;
    height:400px ;
    
    


    
}

.seccion2__texto {
    
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 30px;
    gap: 20px;
    
}

.seccion3 {
    display: flex;
    background-color: #879391;
    align-items: center;
    
    

    

    

    
}

.seccion3__div {
    margin-bottom: 200px;
    padding: 20px;
    
    


}


.seccion3__imagen {
    transform: translateY(-65px);


}

.boton__seccion3 {
    border-radius: 10px;
    padding: 5px 10px; 
}

   

.seccion4 {
    display: flex;
}

.seccion4 .sala1, 
.seccion4 .bano1, 
.seccion4 .cuarto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 300px;

}
.seccion4 h3 {
    color: #f2f2f2;
}


 
.seccion4 .sala1 img, 
.seccion4 .bano1 img, 
.seccion4 .cuarto1 img {
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(.7);
    transition: transform .3s ease-in, filter .3s ease-in;
}
.seccion4 .sala1:hover img, 
.seccion4 .bano1:hover img, 
.seccion4 .cuarto1:hover img{
    transform: scale(1.1);
    filter: brightness(1);

}

.contenedor__sala {
    position: relative;
    z-index: -10;
}

.texto__sala {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imagen__sala., .imagen__bano , .imagen__cuarto {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}